html,
body {
  margin: 0;
  padding: 0;
}

.titlebar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f3f3f3;
}

.app-root {
  padding: 50px 24px;
}

.time-now {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
  z-index: 1000;
}

.btns {
  padding: 6px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

button {
  margin-right: 24px;
}

.testCase {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  border: 1px solid #dfdfdf;
  margin-top: 24px;
  border-radius: 4px;
  padding: 6px;

  &-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &-content {
  }
}
